* {
  box-sizing:border-box;
}

html, body {
  padding:0;
  margin:0;
  background-color: #eee;
  font-family: 'Quicksand', Helvetica, sans-serif;
}

header {
  width:100%;
  position:absolute;
  text-align:center;
  bottom:20px;
}

header a, header a:visited {
  font-size:18px;
  color:#dedede;
  text-decoration:none;
}

header a:hover {
  text-decoration:underline;
}

button {
    font-family: 'Quicksand';
}


#messages {
  background-color:#232323;
  padding:10px;
  height:100%;
  width:800px;
  margin:0 auto;
  overflow-y:auto;
}

#messages p {
  margin:5px 0;
  padding:0;
}

.info {
  margin:5px 0;
  font-style:italic;
}

.message-container {
  margin:5px 0;
  color:#fff;
}

.message-container .username {
  display:inline-block;
  margin-right:5px;
  font-weight:bold;
  color:#849091;
}



/***********************    CUSTOM    **************************/

.welcome {
    width: 50%;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
}

h5 {
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
}

.welcome-button {
    width: 300px;
    padding: 15px;
    background-color: orange;
    color: white;
    border-radius: 25px;
    outline: none;
    border: none;
    font-size: 1.25em;
    margin: 12px;
    display: none;
    cursor: pointer;
}

.app-messaging {
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
}

.error {
    color: orange;
}

.message {
    position: relative;
    margin-bottom: 10px;
}

.message.me {
    text-align: right;
}

.message-body {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 25px;
    background-color: #eee;
    font-size: .9em;
    max-width: 80%;
}

.message.me .message-body{
    background-color: #8e97ff;
    color: white;
    text-align: left;
}

.message-area {
    position: relative;
    top: 100px;
    width: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
}

.message-space {
    background-color: white;
    border-radius: 15px;
    padding: 25px 25px 75px 25px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    height: 500px;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow-y: scroll;
}

.message-input-area {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    text-align: right;
    padding: 15px;
    background-color: white;
    border-top: 1px solid #eee;
    border-radius: 0px 0px 25px 25px;
}

section input {
    padding: 8px;
    outline: none;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: .8em;
    width: 100%;
}

.message-space-title-bar {
    position: absolute;
    top: -50px;
    padding-left: 10px;
    box-sizing: border-box;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    z-index: 10;
    display: flex;
    align-items: center;
}

.sent-from {
    font-size: .7em;
    color: #555;
    padding: 3px;
}

.title {
    font-weight:bold;
    font-size: 1.2em;
}

.action {
    display: block;
    background-color: #8e97ff;
    color: white;
    padding: 8px;
    border-radius: 25px;
    text-align: right;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1em;
    margin-left: auto;
}

.disabled {
    background-color: #ddd;
    color: #555;
    cursor: default;
}

p.mobile-alert {
    display: none;
}


@media only screen and (max-width: 767px) {
    .message-area {
        width: 80%;
    }
    
    p.mobile-alert {
        display: block;
    }
    
    p.desktop-alert {
        display: none;
    }
    
    .message-space-title-bar {
        justify-content: center;
    }
    
    .welcome-button {
        display: none !important;
    }
    
    .app-messaging {
        display: none;
    }
}





